body {
    font-family: Arial;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container {
    background: white;
    padding: 30px;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px gray;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

button {
    padding: 10px;
    margin-top: 10px;
    width: 48%;
}

#studentList {
    margin-top: 20px;
}
